@import '~antd/dist/antd.css';
.App {
  width: 100%;
  height: auto;
  position: absolute;
}
.login {
  width: 240px;
  height: 240px;
  margin: calc((100vh - 300px) / 2) auto;
}

.logup {
  width: 240px;
  height: 270px;
  margin: calc((100vh - 320px) / 2) auto;
}
.login-input, .logup-input {
  display: block;
  width: 240px;
  margin: auto auto;
}
.login-btn , .logup-btn {
  display: block;
  margin: auto auto;
}
.uploadPic {
  width: 180px;
  height: auto;
}
#canvas {
  width: 370px;
  height: 700px;
}
