@import '~antd/dist/antd.css';
.App {
  width: 100%;
  height: auto;
  position: absolute;
}
.login {
  width: 300px;
  height: 300px;
  margin: calc((100vh - 340px) / 2) auto;
  padding-top: 40px;
  text-align: center;
  border: 1px solid #5a91f7;
  border-radius: 8px 0 8px 0;
}

.logup {
  width: 300px;
  height: 350px;
  margin: calc((100vh - 360px) / 2) auto;
  padding-top: 40px;
  text-align: center;
  border: 1px solid #5a91f7;
  border-radius: 0 8px 0 8px;
}
.login-input, .logup-input {
  display: block;
  width: 240px;
  margin: auto auto;
}
.login-btn , .logup-btn {
  display: block;
  margin: auto auto;
}
.uploadPic {
  width: 180px;
  height: auto;
}

.upload {
  display: block;
  width: 240px;
}
#canvas {
  width: 370px;
  height: 700px;
}

.show-one-pic img{
  width: 400px;
  height: 300px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 8px  #8fadee;
}

.show-one-pic, .show-some-pic {
  width: 840px;
  height: auto;
  margin: 10px auto;
}

.show-some-pic img {
  width: 200px;
  height: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.loading-container {
  width: 400px;
  height: 300px;
  margin: 10px auto 0;
  background: #000;
  opacity: 0.6;
}

.spin {
  margin-top: 120px;
}

.show-result-img, show-result-gif {
  margin: 10px auto 0;
}
.hide {
  display: none;
}

.main {
  width: 960px;
  height: auto;
  margin: 20px auto;
}
.uploadPic {
  width: 960px;
  height: auto;
  text-align: center;
}

.upload {
  display : block;
  margin: 0 auto 10px;
}

.btn {
  display: inline-block;
  margin-bottom: 10px;
}
.btn:nth-child(1) {
  margin-right: 10px;
}

.result-btn-left {
  margin-right: 10px;
}

.result-btn-right, .result-btn-left {
  display: inline-block;
  margin-top: 10px;
}